body {
    font-family: sans-serif;
    background-color: #d8e1e2;
    text-align: center;
}
form {
    background-color: #afceec;
    border-radius: 10px;
    margin: 50px;
    font-size: 1.2rem;
    padding: 20px 50px;
}
input,select {
    display: block;
    margin: 5px auto;
    border: none;
    width: 55%;
    border-bottom: solid black 1px;
    background-color: rgb(253, 233, 255);
    padding: 5px;
}
button {
    padding: 10px;
    font-size: 20px;
}
textarea {
    display: block;
    font-size: 1rem;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex input{
    width: 10px;
    margin: 0 10px;
}